.btnForm {
    background-color: #ff9400;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.85rem;
    margin-top: 4px;
    display: block;
}

.input-error {
    border-color: red !important;
}

.registrar-logout-container {
    display: flex;
    justify-content: space-between;
}

.logoutLabel {
    color: red;
    cursor: pointer;
}

.register-link {
    color: #ff9400;
    font-weight: bold;
    text-decoration: none;
    font-size: inherit;
}

.register-link:hover {
    text-decoration: underline;
}